.max{
	color: #FF0004;
}

.select{
	color: #998877 !important;
	font-size: 20px !important;
	border: 0px solid black !important;
	top: -10px !important;
	text-align: left !important;

}

#inputTextArea{
	width: 600px;
	height: 338px;
	font-size: 20px;
}

.q9{
	position: absolute;
	margin-right: 150px;
	right: 100px;
	top: 200px;
}

.q9_code{
	width: 500px;
	font-size: 20px;
}
.cj5_display{
	width: 300px;
	font-size: 20px;
}

.q9_info{
	color: #FFF;
	font-size: 13px;
	font-weight: lighter;
	text-align: left;
	width: 150px;
	border: 0px solid black;
	position: absolute;
	z-index: 1000;
	margin-left: 10px;
	margin-top:245px;
}

.q9_munber_pad{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	width: 150px;
	border: 1px solid black;
	position: absolute;
	z-index: 1000;
	margin-left: 10px;
	margin-top:35px;
}
.q9_num0{
	width: 100px!important;
	padding-top: 5px!important;
}
.q9_num_dot{
	width: 50px!important;
	padding-top: 5px!important;
}

.q9_munber_pad td{
	width: 50px;
	height: 45px;
}

.q9_img_layout{
	position: absolute;
	z-index: 10;
	margin-left: 0px;
	margin-top:0px;
}
.q9_img_body{
	position: absolute;
	z-index: 100;
	margin-left: 2px;
	margin-top:30px;
}
